# Go-related
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build output
/build/
bin/
dist/
zx 

# Dependency management
vendor/

# OS-specific
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

# Logs
*.log

# Go module cache
go.sum
